:root{
    background-color: whitesmoke;
    font-size: 62.5%;
}

.title{
    font-size: 48pt;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.flexCenter{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cacImg{
    width: 10%;
    justify-content: flex-end, flex-start;

}

.topbar{
    padding: 10px;
    font-size: 12pt;
}

.pageLink{
    color: black;
}

.pageLink:visited{
    color: black;
}