p{
    font-size: 2rem;
    color: white;
    text-align: left;
    padding: 2rem 4rem;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
}

a{
    margin-left: auto;
    margin-right: auto;
}

table{
    margin: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid;
    font-size: 1.5rem;
}

th, td {
    padding: 15px;
    text-align: left;
  }


.areaTitle{
    margin: 0;
    padding: 1rem;
}

.sectionHead{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}


.resource{
    font-size: 2rem;
    color: rgb(78, 23, 109);
    
    
}